<header class="nav">
    <button id="login__btn">Login</button>
    </a>
</header>

<div class="container">
    <form id="user-form">
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <input type="text" name="contact_num" id="contact_num" minlength="10" maxlength="10" placeholder="Enter the number here">

        <input type="submit" value="Add">
    </form>

    <table id="details-table">
        <thead>
            <tr>
                <th>Token. No</th>
                <th>Name</th>
                <th>Number</th>
            </tr>
        </thead>

        <tbody id="details-table-body"></tbody>
       
    </tbody>
    </table>
</div>