<div> 
    <p class="text-bold font-large"> <%= userName %> </p>
    <% for(details of userRecords) { %>
        <p>Token: <%= details.token %> </p>
        <p> Contact Number: <%= details.contactNumber %> </p>
    <% } %>

</div>